.idea/
node_modules/
.vscode/
*.map
.DS_Store
.sourcemaps
dist/
android/.gradle/
android/app/build/
android/build/
android/local.properties
*.jks
*.keystore
*.pem
key.properties
phoenix-upload.jks

.java_home
.sdk_ready
